<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBW825_uK4tGhjjy29U6ixfaVMfYcdr3Qk</string>
	<key>GCM_SENDER_ID</key>
	<string>538148150520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pwSocialmediaapp</string>
	<key>PROJECT_ID</key>
	<string>pw-f-socialmediaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>pw-f-socialmediaapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538148150520:ios:3cfbe684932fc273272f0d</string>
</dict>
</plist>